<launch>
  <arg name="map_file" default="/home/team3/maps/playground.yaml" />
  <include file="/opt/ros/indigo/share/fetch_navigation/launch/fetch_nav.launch"> 
    <arg name="map_file" value="$(arg map_file)" />
  </include>
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="~/.rviz/navigation.rviz" />
</launch>
