/* CSS STYLE RULES
 * CSS style rules you add here only affect the HTML defined in files that include this.
 * If you are interested in more advanced techniques like sharing styles
 * across elements, ask the course staff.
 */
:host {
    display: block;
}

paper-slider {
    --paper-slider-input: {
        width: 100px;
    }
}

paper-button {
    background-color: #0ee;
    user-select: none;
}

#driving {
    display: inline-block;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
    /* Phones */
    #camera img {
        width: 100%;
        height: auto;
    }

    .section {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    /* Computers */
    #camera img {
        width: 640px;
        height: auto;
    }

    .section {
        width: 50%;
    }
}
